<!doctype html>
<html ng-app="angularLayers">
	<head>  
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="public/img/favicon.ico">
		<title>AngularLayers</title>

		<link rel="stylesheet" href="public/css/main.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://openlayers.org/en/master/css/ol.css" type="text/css">
		<link rel="styleSheet" href="public/js/libs/angular-ui-grid/ui-grid.css"/>

		<script src="http://openlayers.org/en/master/build/ol.js" type="text/javascript"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
		
		<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.3.1.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
		<script src="public/js/libs/angular-ui-grid/ui-grid.js"></script>

		<script src="public/js/app.js"></script>
		<script src="public/js/controllers/MainController.js"></script>
		<script src="public/js/directives/layersMenu.js"></script>
		
	</head>
	<header>
		<div style="height: 90px; background-color:#000000">
			<div style="padding-top:10px; padding-left:10px">
				<img src="public/img/header.png" height="70">
			</div>
		</div>
	</header>
	<body ng-app="angularLayers">

		<div>
			<div class="container-fluid" ng-controller="mainController">
				<div class="row content" style="position:fixed; height:100%; width:100%">
					<div class="col-sm-2" style="height:100%; padding-right:0">
						<div class="panel panel-default" style="height:100%">
							<div class="panel-heading">
								<div>
									<h4>User menu</h4>
								</div>
							</div>
							<div class="panel-body"  style="padding:0">
								<div class="panel panel-default" style="margin-bottom:0">
									<div class="panel-heading">
										Layers
										<button class="btn" ng-click="collapseLayersPanel = !collapseLayersPanel" style="padding:0; float:right">
											<img src="public/img/down-arrow.png" height="20" width="20" ng-show="collapseLayersPanel">
											<img src="public/img/up-arrow.png" height="20" width="20" ng-hide="collapseLayersPanel">
										</button>
									</div>
									<div uib-collapse="collapseLayersPanel" class="panel-body">
										<div ng-repeat="layer in layers">
											<layers-menu layer="layer"></layers-menu>
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										Database operations
										<button class="btn" ng-click="collapseUserPanel = !collapseUserPanel" style="padding:0; float:right">
											<img src="public/img/down-arrow.png" height="20" width="20" ng-show="collapseUserPanel">
											<img src="public/img/up-arrow.png" height="20" width="20" ng-hide="collapseUserPanel">
										</button>
									</div>
									<div uib-collapse="collapseUserPanel" class="panel-collapse collapse in">
										<uib-accordion>
											<div uib-accordion-group heading="Add a town to the database" class="panel panel-default" style="margin:0">
												<div class="form-group">
													<label>Name:</label>
													<input type="text" class="form-control" ng-model="townNameCreate" ng-change="changeTownNameCreate(townNameCreate)">
												</div>
												<div class="form-group">
													<label>Code:</label>
													<input type="text" class="form-control" ng-model="townCodeCreate" ng-change="changeTownCodeCreate(townCodeCreate)">
												</div>
												<button ng-click="createElement()">
													Add the town
												</button>
											</div>
											<div uib-accordion-group heading="Find a town" class="panel panel-default" style="margin:0">
												<div class="form-group">
													<label>Name:</label>
													<input type="text" class="form-control" ng-model="townNameFind" ng-change="changeTownNameFind(townNameFind)">
												</div>
												<button ng-click="findElement()">
													Find the town
												</button>
											</div>
											<div uib-accordion-group heading="Remove a town from the Database" class="panel panel-default" style="margin:0">
												<div class="form-group">
													<label>Name:</label>
													<input type="text" class="form-control" ng-model="townNameRemove" ng-change="changeTownNameRemove(townNameRemove)">
												</div>
												<button ng-click="removeElement()">
													Remove the town
												</button>
											</div>
											<div uib-accordion-group heading="Get the towns table" class="panel panel-default" style="margin:0">
												<button ng-click="queryDatabase()">
													Queries the database
												</button>
											</div>
										</uib-accordion>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-10" style="padding-left:0">
						<div class="affix" style="height:100%; width:100%; background-color:#FFFFFF">
							<div style="width:100%; height:100%" id="map"></div>
						</div>
					</div>
				</div>
			</div> 
		</div>
		<script src="public/js/map/MapCreation.js" type="text/javascript"></script>
	</body>
</html> 