<!doctype html>
<html>
	<head>  
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="public/img/favicon.ico">
		<title>AngularLayers</title>

		<link rel="stylesheet" href="public/css/main.css">
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://openlayers.org/en/master/css/ol.css">
		<link rel="styleSheet" href="http://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.css"/>
		<link rel="styleSheet" href="http://cdn.rawgit.com/angular-ui/ui-select/master/dist/select.min.css"/>

		<script src="http://openlayers.org/en/master/build/ol.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
		
		<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.3.1.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-sanitize.min.js"></script>
		<script src="http://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.js"></script>
		<script src="http://cdn.rawgit.com/angular-ui/ui-select/master/dist/select.min.js"></script>

		<script src="public/js/app.js"></script>
		<script src="public/js/controllers/MainController.js"></script>
		<script src="public/js/directives/layersMenu.js"></script>
		
	</head>
	<body ng-app="angularLayers">
		<div id="header">
			<img id="header-image" src="public/img/header.png">
		</div>
		<div>
			<div class="container-fluid" ng-controller="mainController">
				<div class="row-fluid">
					<div class="col-sm-2 no-padding">
						<div id="user-menu" class="panel panel-default" ng-cloak>
							<div class="panel-heading">
								<div>
									<h4>User menu</h4>
								</div>
							</div>
							<div class="panel-body no-padding">
								<div class="panel panel-default">
									<div class="panel-heading">
										Layers
										<button class="btn btn-collapse" ng-click="collapseLayersPanel = !collapseLayersPanel">
											<img src="public/img/down-arrow.png" height="20" width="20" ng-show="collapseLayersPanel">
											<img src="public/img/up-arrow.png" height="20" width="20" ng-hide="collapseLayersPanel">
										</button>
									</div>
									<div uib-collapse="collapseLayersPanel" class="panel-body subpanel-body" id="layers-menu-body">
										<div ng-repeat="layer in layers">
											<layers-menu layer="layer"></layers-menu>
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										Database operations
										<button class="btn btn-collapse" ng-click="collapseUserPanel = !collapseUserPanel">
											<img src="public/img/down-arrow.png" height="20" width="20" ng-show="collapseUserPanel">
											<img src="public/img/up-arrow.png" height="20" width="20" ng-hide="collapseUserPanel">
										</button>
									</div>
									<div uib-collapse="collapseUserPanel" class="panel-body subpanel-body no-padding">
										<uib-accordion>
											<div uib-accordion-group heading="Add a town to the database" class="panel panel-default">
												<div class="form-group">
													<label>Name:</label>
													<input type="text" class="form-control" ng-model="townNameCreate" ng-change="changeTownNameCreate(townNameCreate)">
												</div>
												<div class="form-group">
													<label>Code:</label>
													<input type="text" class="form-control" ng-model="townCodeCreate" ng-change="changeTownCodeCreate(townCodeCreate)">
												</div>
												<button class="btn" ng-click="createElement()">
													Add the town
												</button>
											</div>
											<div uib-accordion-group heading="Find a town" class="panel panel-default">
												<div class="form-group">
													<label>Name:</label>
													<input type="text" class="form-control" ng-model="townNameFind" ng-change="changeTownNameFind(townNameFind)">
												</div>
												<button class="btn" ng-click="findElement()">
													Find the town
												</button>
											</div>
											<div uib-accordion-group heading="Remove a town from the Database" class="panel panel-default">
												<div class="form-group">
													<label>Name:</label>
													<input type="text" class="form-control" ng-model="townNameRemove" ng-change="changeTownNameRemove(townNameRemove)">
												</div>
												<button class="btn" ng-click="removeElement()">
													Remove the town
												</button>
											</div>
											<div uib-accordion-group heading="Get the towns table" class="panel panel-default">
												<button class="btn" ng-click="queryDatabase()">
													Queries the database
												</button>
											</div>
										</uib-accordion>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-10 no-padding">
						<div id="map">
							<div class="gazetteer">
								<div class="input-group" ng-cloak>
									<ui-select theme="bootstrap" ng-model="gazetteer.selectedPlace" ng-change="placeSelection(gazetteer.selectedPlace)">
										<ui-select-match placeholder="Search a place">{{$select.selected.display_name}}</ui-select-match>
										<ui-select-choices repeat="place in places" refresh="refreshPlaces($select.search)" refresh-delay="3">
											<div ng-bind-html="place.display_name | highlight : $select.search"></div>
										</ui-select-choices>
									</ui-select>

									<span class="input-group-btn">
										<button type="button" ng-click="clearGazetteer()" class="btn btn-default">
											<span class="glyphicon glyphicon-trash"></span>
										</button>
									</span>
								</div>
							</div>
							<div id="coordinates-window" class="well coordinates-window"></div>
						</div>
					</div>
				</div>
			</div> 
		</div>
		<script src="public/js/map/MapCreation.js" type="text/javascript"></script>
	</body>
</html> 