.customGrid {
	margin : 0;
}

.modal-header {
	background-color: #000000;
	color: #FFFFFF;
}

.modal-body {
	padding : 0;
}

.subpanel-body {
	max-height : 32vh;
	overflow-x : hidden;
}

#database-menu-body {
	padding: 0;
}